## Python Comparison Operators

#### == equal to, != not equal to
#### > greater than, < less than, >= greater than or equal to, <= less than or equal to

Chaining comaprison opeartors and, or, not

In [1]:
not (400<500)

False

In [2]:
('ab'=='ba') or (2==2)

True

In [3]:
not (('ab'=='ba') and (1>2))

True

## Python Statements-if, elif, else

In [4]:
loc='bank'
if (loc=='car shop'):
    print('cars are cool!!!')
elif (loc=='bank'):
    print('money!!!')
else:
    print('who cares!!!')

money!!!

## Loops in Python

##### For Loop for numeric lists

In [5]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for char in mylist:
    print(char)

1
2
3
4
5
6
7
8
9
10

In [6]:
#print Hello for all the elements of the list
for char in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [7]:
#print only even nos from a list
for char in mylist:
    if char%2==0:
        print(char)

2
4
6
8
10

In [8]:
#segregate numbers into even and odd
for char in mylist:
    if char%2==0:
        print(f"Even Number {char}")
    else:
        print(f"Odd Number {char}")

Odd Number 1
Even Number 2
Odd Number 3
Even Number 4
Odd Number 5
Even Number 6
Odd Number 7
Even Number 8
Odd Number 9
Even Number 10

In [9]:
#sum of all the numbers of a list
s=0
for char in mylist:
    s=s+char
print(f"The sum is {s}")#print is outside the loop

The sum is 55

In [10]:
#if the print is inside the loop
#sum of all the numbers of a list
s=0
for char in mylist:
    s=s+char
    print(f"The sum is {s}")

The sum is 1
The sum is 3
The sum is 6
The sum is 10
The sum is 15
The sum is 21
The sum is 28
The sum is 36
The sum is 45
The sum is 55

##### For loop for strings

In [11]:
#for loop for string
mystring="Hello"
for char in mystring:
    print(char)

H
e
l
l
o

In [12]:
#for loop for string
mystring="Hello"
for char in mystring:
    print('Hello')#each character of the string will give Hello

Hello
Hello
Hello
Hello
Hello

##### For loop for Tuples

In [13]:
mytup=[(1,2),(3,4),(5,6)]
len(mytup)

3

In [14]:
for char in mytup:
    print(char)#this gives me tuple pairs

(1, 2)
(3, 4)
(5, 6)

In [15]:
#Tuple unpacking
for x,y in mytup:
    print(x)
    print(y)

1
2
3
4
5
6

##### For loop for dictionary

In [16]:
d={'x':1, 'y':2, 'z':3}#craete a dictionary
for char in d:
    print(char)

x
y
z

In [17]:
for char in d.items():
    print(char)

('x', 1)
('y', 2)
('z', 3)

In [18]:
for char, val in d.items():
    print(val)

1
2
3

#### While Loops

In [19]:
x=0
while x<5:
    print(f'the current vallue is {x}')
    x=x+1
else:
    print(f'The value is < 5')

the current vallue is 0
the current vallue is 1
the current vallue is 2
the current vallue is 3
the current vallue is 4
The value is < 5

#### Some important keywords: break, continue, pass

pass-does nothing acts as a placeholder

break-breaks the loop at that value

continue-goes back to the closest loop

In [20]:
#continue
mystring='Divyansh'
for char in mystring:
    if char=='a':#a is skipped as the operation goes to the nearest loop as it reaches a
        continue
    print(char)

D
i
v
y
n
s
h

In [21]:
#break
mystring='Divyansh'
for char in mystring:
    if char=='a':#loops breaks as it reaches a
        break
    print(char)

D
i
v
y

## Useful Operators

In [22]:
mylist=[1,2,3,4,5]#list is created manually
print(mylist)

#crteate a list with a loop with step size of 1 
myls = list(range(1,6,1))
print(myls)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#### Enumerate

takes an iterable object and gives out index wise characters

In [23]:
myword="Divyansh"
for index, char in enumerate(myword):
    print(index, char)

0 D
1 i
2 v
3 y
4 a
5 n
6 s
7 h

In [24]:
for index, char in enumerate("Divyansh"):
    print(index)
    print(char)
    print('\n')

0
D


1
i


2
v


3
y


4
a


5
n


6
s


7
h

Zip function-pairs up different lists

Note-the lists should have same dimensionality otherwise if they don't then excess doimensions are discarded.

In [25]:
mylist1=[1,2,3]
mylist2=['a', 'b', 'c']
for x,y in zip(mylist1, mylist2):
    print(x,y)

1 a
2 b
3 c

In [26]:
for x,y in zip(mylist1, mylist2):
    print(x)

1
2
3

##### in operator

the opeartors is applicable for dictionary, list, strings

In [27]:
'x' in ['x', 'y', 'z']

True

In [28]:
2 in [6,9,12]

False

##### min-max from a list

In [29]:
mylist=[0.5, 2,49]
print(f'min is {min(mylist)}')
print(f'max is {max(mylist)}')

min is 0.5
max is 49

other opeartors

In [30]:
##shuffle
mylist=[1,2,3,4,5]
from random import shuffle
shuffle(mylist)
mylist#every time we run we get a different list

[5, 3, 4, 2, 1]

random integer with randint

In [31]:
from random import randint
randint(1,100)

27

In [32]:
#input operator
r=input("What's my name?")
r

What's my name?Ally

'Ally'

#### List Comprehension

String

In [33]:
#using loop
mystring="Divyansh"
mylist=[]
for char in mystring:
    mylist.append(char)
mylist

['D', 'i', 'v', 'y', 'a', 'n', 's', 'h']

In [34]:
#solving the above problem with a single code line
mylist=[x for x in "Divyansh"]
mylist

['D', 'i', 'v', 'y', 'a', 'n', 's', 'h']

Numeric

In [35]:
mylist=[x**2 for x in range(1,6)]
mylist

[1, 4, 9, 16, 25]

In [36]:
#select only even nos from 1,10
myls=[x for x in range(1,11) if x%2==0]
myls

[2, 4, 6, 8, 10]

In [37]:
myls=[x for x in range (0,11,2)]
myls

[0, 2, 4, 6, 8, 10]

degree to celcius problem statement

In [38]:
## convert degree to fahrenheit
celcius=[10,20,30,40,50]
fahrenheit=[((9/5)*temp+32) for temp in celcius]
fahrenheit

[50.0, 68.0, 86.0, 104.0, 122.0]

In [39]:
#solve using standard appending
celcius=[10,20,30,40,50]
fahrenheit=[]
for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))
fahrenheit

[50.0, 68.0, 86.0, 104.0, 122.0]

mostly solve numericals using appendng as it's more convenient

In [40]:
myls=[]
for x in range(2,5):
    for y in range(2,5,1):
        myls.append(x**y)
myls

[4, 8, 16, 9, 27, 81, 16, 64, 256]

In [41]:
#to so;ve above using single code line
myls=[x**y for x in range(2,5) for y in range(2,5)]
myls
#the above code is quite easy to understand

[4, 8, 16, 9, 27, 81, 16, 64, 256]